students{
display:block;
background-color:#ff9999;
}
USN{
display:block;margin-left:25px;font-size:16pt;color:blue;
}
name{
display:block;margin-left:25px;font-size:12pt;color:red;
}
branch{
display:block;margin-left:25px;font-size:12pt;color:green;
}
college{
display:block;margin-left:25px;font-size:12pt;color:maroon;
}
year{
display:block;margin-left:25px;font-size:12pt;color:goldenrod;
}
e-mail{
display:block;margin-left:25px;font-size:12pt;color:#ff6666;
}
